# Configuration sensible
src/main/resources/config.properties
src/main/resources/

# Ou ignorer seulement config.properties
# src/main/resources/config.properties

# Maven
target/

# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Logs
*.log

!src/main/resources/config.properties.example
